:root {
  --orange: hsl(26, 100%, 55%);
  --pale_orange: hsl(25, 100%, 94%);

  --vark_blue: hsl(220, 13%, 13%);
  --dark_grayish_blue: hsl(219, 9%, 45%);
  --grayish_blue: hsl(220, 14%, 75%);
  --light_grayish_blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --font_size: 16px;
  --large_font_weight: 700;
  --medium_font_weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* nav bar  */

.navbar {
  position : fixed;
  width: 100vw;
  padding: 1rem 4rem;
  border-bottom: 1px solid var(--dark_grayish_blue);
  display: flex;
  height: 70px;
  justify-content: space-between;
  top: 0;
  z-index: 9999;
  background: var(--white);
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 20%;
}

.logo > .logo-title {
  margin-right: 3rem;
  font-weight: var(--large_font_weight);
  font-size: 32px;
  margin-bottom: 10px;
}

.links {
  display: flex;
  flex-basis: 80%;
  justify-content: space-between;
}

.links > .container {
  display: flex;
  align-items: center;
}

.links > .container .nav-links li {
  display: inline-block;
  margin: 0 20px;
}

.links > .container .nav-links li a {
  color: var(--dark_grayish_blue);
  text-transform: capitalize;
  position: relative;
  height: 100px;
  transition: color 0.3s ease-in;
}

.links > .container .nav-links li a::before {
  content: "";
  display: inline;
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -24px;
  background-color: var(--orange);
  transition: width 0.3s ease-in;
}

.links > .container .nav-links li a:hover,
.links > .container .nav-links li a:focus {
  color: var(--black);
}

.links > .container .nav-links li a:hover::before,
.links > .container .nav-links li a:focus::before {
  width: 100%;
}

.cart-user {
  display: flex;
  align-items: center;
}

.cart {
  cursor: pointer;
  font-size: 18px;
}


/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 2rem;
  height: 2.2rem;
  width: 2.2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--dark_grayish_blue);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.checkbtn {
  font-size: 28px;
  cursor: pointer;
  margin-right: 10px;
  display: none;
}

.close-menu {
  font-size: 30px;
  font-weight: var(--large_font_weight);
  display: none;
}

.cart-number {
  position: relative;
  color: var(--white);
  background: var(--orange);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  top: -8px;
  left: -8px;
}


.cart-modal{
  position: fixed;
  top: 5rem;
  right: 2rem;
  width : 300px; 
  border-radius: 12px;
  background: var(--light_grayish_blue);
  z-index: 100;
}

.cart-modal .content{
  padding : 1rem 1.4rem;
}

.content .item{
  display : flex;
  justify-content : space-between;
  align-items : center;
}

.item .item-image {
  display: inline-block;
  height: 40px !important;
  width: 40px!important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.item .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.item .des{
  width: 60%;
  font-size: 10px;
}


.cart-modal h2{
  margin: 1rem 2rem;
}

.item-wrapper button{
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 4px;
  color: var(--white);
  text-transform: capitalize;
  background: var(--orange);
  cursor: pointer;
}


@media (max-width: 875px) {
  .navbar {
    padding: 2rem;
    max-width: 100%;
  }

  .links {
    justify-content: flex-end;
  }

  .checkbtn {
    display: block;
  }

  .close-menu {
    display: block;
  }

  .container {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease-in-out;
    z-index: 110;
  }

  .container > .nav-links {
    position: relative;
    width: 70%;
    height: 100%;
    left: -100%;
    background-color: var(--white);
    padding-left: 40px;
    padding-top: 20px;
    transition: all 1s ease-in-out;
    border-radius: 0% 0% 20% 0%;
  }

  .container.active {
    left: 0;
  }

  .container.active > .nav-links {
    left: 0;
  }

  .links > .container .nav-links li {
    display: block;
    margin: 2rem 0;
  }

  .links > .container .nav-links li a {
    color: var(--black);
    font-weight: var(--large_font_weight);
  }
}




/* main */








.main {
  width: 76%;
  margin: 5rem auto;
  overflow: hidden;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.product-image {
  display: inline-block;
  margin-bottom: 0;
  height: 350px;
  width: 350px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.other-images {
  display: flex;
  margin: 1.8rem 0;
  width: 350px;
  justify-content: space-between;
}

.other-images img {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5;
}

.other-images .active-image {
  border: 2px solid var(--orange);
  opacity: 0.8;
}

.description {
  padding: 0 0 0 50px;
}

.description .title {
  position: relative;
  bottom: 10px;
  color: var(--orange);
  font-size: 20px;
  font-weight: var(--large_font_weight);
  text-transform: uppercase;
}

.description .product-name {
  position: relative;
  margin: 2rem;
  margin-left: 0;
  font-size: 30px;
  text-transform: capitalize;
}

.description .description-details {
  margin: 24px 0;
  color: var(--dark_grayish_blue);
}

.description .price p {
  font-size: 20px;
  font-weight: var(--large_font_weight);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.description .price span {
  font-size: 12px;
  background-color: var(--pale_orange);
  padding: 3px 6px;
  color: var(--orange);
  border-radius: 4px;
  margin-left: 6px;
}

.description .price .privious-amount {
  font-weight: 500;
  font-size: 16px;
  text-decoration: line-through;
  color: var(--dark_grayish_blue);
}

.description .cart-actions {
  display: flex;
  align-items: center;
}

.description .cart-actions .quantity {
  background-color: var(--light_grayish_blue);
  width: 25%;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.description .cart-actions .quantity button {
  color: var(--orange);
  background: none;
  border: none;
  font-size: 30px;
  font-weight: var(--large_font_weight);
  cursor: pointer;
}

.description .cart-actions .quantity .quantity-value {
  font-size: 20px;
  font-weight: var(--large_font_weight);
}

.description .cart-actions .add-to-cart {
  padding: 10px 18px;
  /* width: 40%; */
  margin: 0 2rem;
  font-size: 18px;
  font-weight: var(--medium_font_weight);
  color: var(--light_grayish_blue);
  background: var(--orange);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.description .cart-actions .add-to-cart i {
  margin-right: 10px;
}



@media (max-width: 770px) {
  .main{
    width: 100%;
    margin: 2em 0;
    padding: 1rem;
  }
   .description{
   padding: 2rem;
 }

 .description .price{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .description .cart-actions{
   display: block;
 }

 .description .cart-actions .quantity {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    margin-bottom : 1rem;
  }

  .description .cart-actions .add-to-cart{
    width: 100%;
    height : 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom : 1rem;
    margin-left: 0%;
    font-size: 1.5rem;
    box-shadow: 0 50px 50px var(--pale_orange);
  }
}









/* MODAL */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 112;
  background: rgba(0, 0, 0, 0.75);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  align-self: center;
  z-index: 120;
  padding-left: 30px;
}

.close-modal-icon {
  position: absolute;
  right: 10px;
  top: -40px;
  font-size: 30px;
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
}

.prev,
.next {
  color: var(--black);
  background: var(--white);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: var(--large_font_weight);
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
  margin-bottom: -20rem;
  z-index: 101;
  margin-left: -16px;
}

.prev:hover,
.next:hover {
  color: var(--orange);
}

@media (max-width: 770px) {
  .modal-box{
    width: 50%;
  }
  .close-modal-icon {
  right: 0px;
}
}

@media (max-width: 500px) {
 .main{
   max-width: 100%;
   width: 100%;
   padding : 0;
   margin: 0;
   margin-top: 4.2rem;
 }

 .product-details {
   width: 100%;
   padding : 0;
   margin: 0;
   grid-template-columns: 1fr;
 }

 .product-details .images{
   width: 100%;
   margin: 0;
   padding: 0;
 }

 .product-details .images .product-image{
   width: 100%;
   height: 300px;
   border-radius: 0;
 }

 .product-details .images .product-image img {
   width : 100%;
   object-fit: cover;
   border-radius: 0;
 }

 .product-details .images  .other-images{
   display: none;
 }

 .description{
   padding: 2rem;
 }

 .description .price{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .description .cart-actions{
   display: block;
 }

 .description .cart-actions .quantity {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    margin-bottom : 1rem;
  }

  .description .cart-actions .add-to-cart{
    width: 100%;
    height : 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom : 1rem;
    margin-left: 0%;
    font-size: 1.5rem;
    box-shadow: 0 50px 50px var(--pale_orange);
  }

  .related-products{
    display: none;
  }

}

.related-products {
  margin: 3rem auto;
  padding: 12px;
  position: relative;
}

.related-products h1 {
  margin: 12px;
}

.related-products-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.card {
  min-width: 30%;
  margin-left: 3%;
  border: 1px solid var(--pale_orange);
  border-radius: 3px;
}

.card img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.card h2 {
  text-transform: capitalize;
  margin: 4px;
}

.card a{
  margin: 20px;
  text-align: center;
}

.prev-prods,
.next-prods {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 30px;
  color: var(--black);
  font-weight: var(--large_font_weight);
  z-index: 102;
}

.prev-prods {
  left: -2px;
}

.next-prods {
  right: 0;
}

@media (max-width: 900px) {
  .card {
    min-width: 45%;
    margin-left: 5%;
  }
  .next-prods {
    right: -10px;
  }
}

@media (max-width: 550px) {
  .card {
    min-width: 100%;
    margin: 0;
  }
}




/* Home */



.collections{
  z-index: 98;
  position: relative;
  width: 90%;
  padding: 2rem;
  margin: 6rem auto;
  display: flex;
  flex-wrap: wrap;
}

.collections  .collection-container{
  flex-basis: 30%;
  margin-right: 3%;
  margin-bottom: 2rem;
  border: 1px solid var(--pale_orange);
  border-radius: 12px;
  padding: 2rem;
}

.collections .collection-container img{
  width: 100%;
  height : 400px;
}

.collections .collection-container h2{
  color: var(--vark_blue);
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 20px;
}


@media (max-width: 940px){
  .collections .collection-container{
  flex-basis: 45%;
  width: 45%;
}
}

@media (max-width: 550px){
  .collections .collection-container{
  flex-basis: 80%;
}
}


@media (max-width: 281px){
  .collections .collection-container img{
    height: 340px;
  }
}

@media (max-width: 415px){
  .collections {
    overflow: hidden;
    width: 100%;
  }

  .collections .collection-container {
    flex-basis: 100%;
  }

  .collections .collection-container img{
    height: 380px;
  }
}

.loading{
  margin: 10rem auto;
  color : var(--black);
  font-weight: var(--large_font_weight);
}


/* FOOTET  */

.footer {
  bottom: 0;
  text-align: center;
}
